* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 80px 20px;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  margin-bottom: 20px;
}

.btn {
  background: #6366f1;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 8px;
}

.servicos {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

.contato {
  padding: 60px 20px;
  text-align: center;
}

footer {
  background: #020617;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
.contato a {
  display: inline-block;
  margin-top: 20px;
}
.mouse-trail {
  position: fixed;
  width: 6px;
  height: 6px;
  background: rgba(99, 102, 241, 0.8);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  animation: fadeOut 0.8s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(2);
  }
}
.animate-title {
  opacity: 0;
  transform: translateY(30px);
  animation: titleFade 1s ease forwards;
}

@keyframes titleFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

